## APP INFORMATION
APP_NAME="Meetingg"
APP_VERSION="0.0.2"
APP_ENV=production

## DATABASE
DB_HOST=localhost
DB_NAME=meetingg
DB_USER=postgres
DB_PASS=
DB_SCHEMA=mgg
DB_PORT=5432

DB_ADAPTER=Postgresql
DB_CHARSET=utf8

## CACHE
CACHE_ADAPTER=Stream

## REDIS CACHE
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_LIFETIME=7200

## APCU CACHE
CACHE_APCU_LIFETIME=7200

## STREAM CACHE
CACHE_STREAM_LIFETIME=7200
#CACHE_APCU_STORAGEDIR=

## ALLOW CORS
CORS_ALLOWS="http://localhost:8080,http://localhost:8081"

## JWT
JWT_SIGNER_SECRET=MY.JWT.SECRET.KEY